.home{
    .bg{
        background: red;
        z-index: -1;
    }
    height: 100vh;
    width: 100vw;
    background: #000000b6;
    display: flex;
    justify-content: center;
    align-items: center;
    .title{
        color:#fafafa;
    }
}